NODE_ENV=development
PORT=3002
SERVICE_NAME=order-service
MONGODB_URI=mongodb://admin:secret@localhost:27017/orders_db?authSource=admin
PRODUCT_SERVICE_URL=http://localhost:3001
VALIDATE_PRODUCTS=true
ALLOWED_ORIGINS=http://localhost:3000

